ACTION=="add", SUBSYSTEM=="usb", ATTR{idProduct}=="cb40", RUN+="/sbin/insmod /root/little-pinguin/04/main.ko"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idProduct}=="cb40", RUN+="/sbin/rmmod main"
